aiocron==1.8 ; python_version >= "3.7" and python_version < "4.0"
aiohttp==3.8.3 ; python_version >= "3.7" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.7" and python_version < "4.0"
asn1crypto==1.5.1 ; python_version >= "3.7" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.7" and python_version < "4.0"
asyncio==3.4.3 ; python_version >= "3.7" and python_version < "4.0"
asynctest==0.13.0 ; python_version >= "3.7" and python_version < "3.8"
attrs==22.1.0 ; python_version >= "3.7" and python_version < "4.0"
backports-zoneinfo==0.2.1 ; python_version >= "3.7" and python_version < "3.9"
base58==2.1.1 ; python_version >= "3.7" and python_version < "4.0"
bech32==1.2.0 ; python_version >= "3.7" and python_version < "4.0"
bip32==3.4 ; python_version >= "3.7" and python_version < "4.0"
certifi==2022.12.7 ; python_version >= "3.7" and python_version < "4"
cffi==1.15.1 ; python_version >= "3.7" and python_version < "4.0"
cfgv==3.3.1 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.7" and python_version < "4"
coincurve==18.0.0 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
croniter==1.3.8 ; python_version >= "3.7" and python_version < "4.0"
distlib==0.3.6 ; python_version >= "3.7" and python_version < "4.0"
ecdsa==0.18.0 ; python_version >= "3.7" and python_version < "4.0"
exceptiongroup==1.0.4 ; python_version >= "3.7" and python_version < "3.11"
filelock==3.8.2 ; python_version >= "3.7" and python_version < "4.0"
frozenlist==1.3.3 ; python_version >= "3.7" and python_version < "4.0"
grpcio-tools==1.51.1 ; python_version >= "3.7" and python_version < "4.0"
grpcio==1.51.1 ; python_version >= "3.7" and python_version < "4.0"
hdwallets==0.1.2 ; python_version >= "3.7" and python_version < "4.0"
identify==2.5.11 ; python_version >= "3.7" and python_version < "4.0"
idna==3.4 ; python_version >= "3.7" and python_version < "4"
importlib-metadata==5.2.0 ; python_version >= "3.7" and python_version < "4.0"
iniconfig==1.1.1 ; python_version >= "3.7" and python_version < "4.0"
mnemonic==0.20 ; python_version >= "3.7" and python_version < "4.0"
multidict==6.0.3 ; python_version >= "3.7" and python_version < "4.0"
mypy-protobuf==3.4.0 ; python_version >= "3.7" and python_version < "4.0"
nibiru-proto==0.16.2 ; python_version >= "3.7" and python_version < "4.0"
nodeenv==1.7.0 ; python_version >= "3.7" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.7" and python_version < "4.0"
platformdirs==2.6.0 ; python_version >= "3.7" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
pre-commit==2.20.0 ; python_version >= "3.7" and python_version < "4.0"
protobuf==4.21.12 ; python_version >= "3.7" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.7" and python_version < "4.0"
pyparsing==3.0.9 ; python_version >= "3.7" and python_version < "4.0"
pytest-skip-slow==0.0.3 ; python_version >= "3.7" and python_version < "4.0"
pytest==7.2.0 ; python_version >= "3.7" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.7" and python_version < "4.0"
python-dotenv==0.21.0 ; python_version >= "3.7" and python_version < "4.0"
pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.7" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.7" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.7" and python_version < "4"
setuptools==65.6.3 ; python_version >= "3.7" and python_version < "4.0"
shutup==0.2.0 ; python_version >= "3.7" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.7" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.7" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.7" and python_version < "3.11"
types-protobuf==4.21.0.2 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.7" and python_version < "3.8"
tzdata==2022.7 ; python_version >= "3.7" and python_version < "4.0"
tzlocal==4.2 ; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.13 ; python_version >= "3.7" and python_version < "4"
virtualenv==20.17.1 ; python_version >= "3.7" and python_version < "4.0"
websocket-client==1.4.2 ; python_version >= "3.7" and python_version < "4.0"
yarl==1.8.2 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.11.0 ; python_version >= "3.7" and python_version < "4.0"
